* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  ;
}

:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%)
}

main {
  max-width: 1440px;
  margin: auto;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  background-color: var(--paleBlue);
}

.center {
  max-width: 450px;
  margin: auto;
  background-color: var(--veryPaleBlue);
  border-radius: 20px;
}

header img {
  border-radius: 20px 20px 0 0;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--darkBlue);
}

p {
  color: var(--desaturatedBlue);
  font-size: 14px;
  margin: 40px 50px;
  text-align: center;
}

#plano {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left img {
  margin-right: 20px;
  max-width: 100%;
}

.left p {
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-center h4 {
  margin: 0;
  color: var(--darkBlue);
}

.text-center p {
  margin-top: 0;
}

a:hover {
  color: var(--desaturatedBlue);
}

button {
  display: block;
  width: 90%;
  margin: 20px auto;
  background-color: var(--brightBlue);
  border-radius: 10px;
  border: none;
  color: var(--paleBlue);
  font-size: 16px;
  padding: 15px;
  font-weight: 700;
}

button:hover {
  background-color: var(--desaturatedBlue);
}

.cancel a {
  text-align: center;
  color: var(--desaturatedBlue);
  text-decoration: none;
  font-weight: 600;
}

.cancel a:hover {
  color: var(--darkBlue);
}

@media (max-width: 375px) {
  main {
    background-image: url(images/pattern-background-mobile.svg);
  }
}
