:root{
    --text-color-1: #074d34;
    --text-color-2: #fff;
    --title-color1: #DD7017;
    --background-1: #F4E0D5;
    --background-2: #079F79;
    --title-size: 30pt;
    --text-size: 20pt;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.geral{
    
    max-width: 1200px;
    margin: 0 auto;
}

img{
    
}

/* HEADER */

header{ 
   background-color: #FFECE1;
   padding: 20px 0; 
   position: fixed;  
   width: 100%;

}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;     
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color-1);
}

#menu-mobile{
    display: none;
}

/* WELCOMME */

.welcomme{
    
    background-color: var(--background-1);
    height: 100vh;
    
}

.welcomme .geral{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.welcomme h2{
    margin-bottom: 20px;
    font-size: var(--title-size);
    color: var(--title-color1);
}

.welcomme .text{
    text-align: center;
}

.welcomme p{
    font-size: var(--text-size);
    color: var(--text-color-1);
}




