:root{
    --text-color-1: #074d34;
    --text-color-2: #fff;
    --title-color1: #DD7017;
    --background-1: #FFECE1;
    --background-2: #F4E0D5;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.geral{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}


/* HEADER */

header{
   background-color: var(--background-1);
   padding: 20px 0;   

}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;     
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color-1);
}

#menu-mobile{
    display: none;
}