* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --text-color-1: #074d34;
  --text-color-2: #fff;
  --title-color1: #DD7017;
  --background-1: #F4E0D5;
  --background-2: #079F79;
  --title-size: 30pt;
  --text-size: 20pt;
}

html {
  scroll-behavior: smooth;
}


/* MENU */

header {
  width: 100%;
  position: fixed;
  background-color: var(--background-1);
  z-index: 3;
}

header li {
  list-style: none;
  text-transform: uppercase;
  font-size: 16pt;
  font-weight: 800;
}

header a {
  text-decoration: none;
  color: var(--text-color-1);
}

#menu-mobile {
  display: none;
}

#menu-desktop {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color-1);
}

#menu-desktop ul {
  display: flex;
  justify-content: space-between;
}


/*Fim Menu*/

.conteudo {
  max-width: 1200px;
  margin: 0 auto;
}


/*Bem Vindo*/

.bgBemvindo {
  background-color: var(--text-color-2);
}

#bemvindo {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#imgBemvindo img {
  max-width: 100%;
}

#bemvindo .text {
  max-width: 600px;
}

#bemvindo h2 {
  font-size: var(--title-size);
  text-align: center;
  color: var(--title-color1);
}

#bemvindo p {
  text-align: center;
  font-size: 20pt;
  color: var(--text-color-1);
}


/*Fim Bemvindo*/


/*SOBRE*/

.bgSobre {
  background-color: var(--background-2);
}

#sobre {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
}

#sobre span {
  font-weight: bold;
  color: var(--text-color-1);
}

#imgSobre img {
  max-width: 100%;
  min-width: 300px;
  transform: rotateY(180deg);
}

#sobre .text {
  max-width: 600px;
  padding-right: 25px;
}

#sobre h2 {
  font-size: var(--title-size);
  color: var(--background-1);
  margin-bottom: 10px;
}

#sobre p {
  font-size: 16pt;
  color: var(--text-color-2)
}


/*Fim Sobre*/


/*Servicos*/

.bgServicos {
  background-color: var(--text-color-2);
}

#servicos {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
}

#imgServicos img {
  max-width: 100%;
  min-width: 300px;
}

#servicos .text {
  max-width: 600px;
  padding-right: 25px;
}

#servicos h2 {
  font-size: var(--title-size);
  color: var(--title-color1);
}

#servicos p {
  font-size: 16pt;
  line-height: 30px;
  color: var(--text-color-1)
}


/* Fim Servicos*/


/*Habilidades*/

.bgHabilidades {
  background-color: var(--background-2);
  min-height: 100vh;
  padding-top: 80px;
}

.bgHabilidades .html h2,
.css h2,
.javascript h2 {
  color: var(--text-color-2);
  font-size: 40px;
  text-align: center;
}

#habiJS {
  margin-bottom: 55px;
}

.bgHabilidades ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.bgHabilidades li {
  list-style: none;
  font-size: 24px;
  height: 50px;
  width: 200px;
  border: 2px solid var(--text-color-1);
  text-align: center;
  padding-top: 8px;
  border-radius: 8px;
  color: var(--text-color-2);
  cursor: pointer;
}

.bgHabilidades .ativo {
  background-color: var(--title-color1);
}

.bgHabilidades .tecnologia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bgHabilidades .descicao {
  margin-top: 20px;
  background-color: var(--background-1);
  padding: 40px;
  border-radius: 10px;
  margin-right: 10px;
}

.bgHabilidades img {
  max-width: 300px;
}

.bgHabilidades p {
  color: var(--text-color-1);
  font-size: 30px;
}

.css,
.javascript {
  display: none;
}


/*Fim Habilidades*/


/*Soft Skills*/

.bgSoftSkills {
  background-color: var(--text-color-2);
  padding-top: 80px;
  height: 80vh;
}

.bgSoftSkills h2 {
  color: var(--title-color1);
  text-align: center;
  font-size: 30pt;
}

.softs {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  color: var(--text-color-1);
}

.softs li {
  font-size: 20pt;
  font-weight: 600;
  margin-top: 60px;
}


/* Fim Soft Skills*/


/* Portifólio */

.box-projetos {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color-1);
}

.projeto {
  margin-bottom: 40px;
  background-color: rgb(252, 244, 233);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  flex: 40%
}

.projeto h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.projeto img {
  max-width: 100%;
}

.projeto p {
  margin-top: 20px;
  font-size: 20px;
}


/* Fim Portifólio */
