* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 990px;
  display: flex;
  justify-content: space-between;
}


/* Header */

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.logo img {
  width: 150px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}

nav .active,
nav a:hover {
  background-color: #39aae1;
  color: white;
}


/*Fim Header*/


/*Banner*/

#banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}

.colun {
  flex-direction: column;
}

.banner-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.banner-headline h1 {
  max-width: 350px;
  color: white;
  font-size: 70px;
  text-shadow: 0px 1px 0px #555555;
}

.banner-headline h2 {
  max-width: 350px;
  color: white;
  font-size: 21px;
  text-shadow: 0px 1px 0px #555555;
}

.banner-options {
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: white;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}

.banner2 {
  background-color: #0079c7;
}

.banner3 {
  background-color: #2b4c99;
}

.banner-title {
  font-size: 21px;
}

.banner-desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-options a {
  padding: 5px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.days-hours {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px 0;
  border-bottom: 1px solid #73adca;
}


/* Fim Banner*/


/* Geral */

#geral {
  display: flex;
  justify-content: center;
}

main {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget-title hr {
  border-color: #39aae1;
  margin-top: 10px;
  width: 50px;
}

article {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.artigos {
  flex: 1;
  margin-right: 25px;
  margin-bottom: 20px;
}

.date-views {
  display: flex;
  justify-content: start;
  color: white;
  font-size: 12px;
  padding-bottom: 15px;
}

.date-views .date {
  background-color: #2b4c99;
  padding: 10px;
  margin-right: 3px;
}

.date-views .views {
  background-color: #39aae1;
  padding: 10px;
}

article img {
  max-width: 100%;
}

article h3 {
  margin: 20px 0;
  color: #2b4c99;
}

article p {
  margin-bottom: 20px;
  color: rgb(97, 96, 96);
  font-size: 15px;
  line-height: 20px;
}

article .posted {
  font-size: 12px;
}

article .posted a {
  color: rgb(97, 96, 96);
}


/* Fim Geral */


/* Aside */

.utilities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.utilities .imagem {
  max-width: 150px;
  margin-right: 10px;
}

.utilities .text {
  width: 100%;
}

.utilities img {
  max-width: 150px;
}

.utilities p {
  color: rgb(97, 96, 96);
  font-size: 14px;
}

.aside-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2b4c99;
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}

.traco {
  width: 20px;
  height: 2px;
  background-color: white;
  color: white;
}

.utilities-buttons {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.utilities-buttons p {
  background-color: #2b4c99;
  padding: 5px;
  margin-left: 5px;
  font-size: 14px;
}

.utilities-buttons a {
  text-decoration: none;
  color: white;
}

.especialidades {
  margin-top: 30px;
}

.especialidade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(97, 96, 96);
  padding: 10px 0;
  border-bottom: 1px solid rgb(97, 96, 96);
}

.especialidade .maior {
  color: #2b4c99;
  font-size: 25px;
}

.appointment {
  color: rgb(97, 96, 96);
  font-size: 12px;
  line-height: 20px;
}

.appointment>p {
  border-bottom: 1px solid rgb(97, 96, 96);
  padding-bottom: 20px;
}

.contact {
  margin-top: 0px;
}

.contact i {
  font-size: 20px;
  margin-right: 10px;
}

.icon-contact {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid rgb(97, 96, 96);
}

.show-all {
  text-align: center;
  color: #2b4c99;
}


/* Fim Aside*/


/*Footer*/

footer {
  margin-top: 30px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

footer .container {
  flex-direction: column;
}

.footer-menu {
  display: flex;
  flex: 1;
  font-size: 21px;
}

.footer-menu a {
  display: block;
  text-decoration: none;
}

.footer-menu p {
  margin-top: 15px;
  font-size: 14px;
}

.footer-menu i {
  margin-left: 10px;
}

.fm_1,
.fm_2,
.fm_3 {
  flex: 1;
  color: white;
  padding: 20px;
}

.fm_1 {
  background-color: #39aae1;
}

.fm_2 {
  background-color: #0079c7;
}

.fm_3 {
  background-color: #2b4c99;
}

.footer-area {
  display: flex;
}

.footer-area-item {
  flex: 1;
  color: white;
}

.footer-copy {
  color: #5c5c5c;
  font-size: 12px;
  line-height: 40px;
  border-top: 1px solid #5c5c5c;
  margin-top: 30px;
}

.footer-content1 {
  padding-right: 20px;
  color: #6d6b6b;
}

.footer-content1 p {
  font-size: 14px;
}

.address {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
  padding-right: 20px;
}

.address {
  line-height: 20px;
  font-size: 12px;
}

.address a {
  text-decoration: none;
  color: #6d6b6b;
  font-weight: 600;
}

.icons-social {
  display: flex;
  margin-top: 10px;
}

.icons-social a {
  text-decoration: none;
  color: #727272;
  font-size: 25px;
  margin-right: 5px;
}

.latest-post {
  color: #6d6b6b;
  font-size: 14px;
}

.latest-post p {
  line-height: 15px;
}

.latest-post a {
  display: block;
  text-decoration: none;
  color: #0079c7;
  margin-bottom: 20px;
}


/* Fim Footer*/
